<div class="container">
	<div class="row" id="agents">
		<form>
			<div class="row">
				<!--<div class="card small" *ngFor="let agent of agents;">
					{{agent.name}}
					<img class="list-icons" [src]="agent.urlsToLogos.small" alt="">
				</div>-->
				<div class="col s12 m6 l3" *ngFor="let agent of agents;">
					<div class="card small">
						<div class="card-image" style="min-height:20%">
							<img style="max-width:20%" [src]="agent.urlsToLogos.small" alt="">
						</div>
						<div class="card-stacked">
							<div class="card-content">
								<h5>{{agent.name}}</h5>
								<p>{{agent.description | limit}}</p>
							</div>
							<div class="card-action">
								<a href="#">This is a link</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s12 center-align">
					<a class="waves-effect waves-light btn blue darken-3"><i class="material-icons right">send</i>Continue</a>
				</div>
			</div>
		</form>
	</div>
</div>