@import "../node_modules/materialize-css/dist/css/materialize.css";
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.card.small {
    height: 220px;
}

.card .card-content {
    padding: 0 20px;
}

.collection .collection-item.avatar .title {
    font-size: 18px;
}

.secondary-content {
    color: #1565C0;
}

.collection .collection-item.avatar {
    padding-left: 85px;
    margin-bottom: 20px;
}

.collection .collection-item.avatar .circle {
    width: 60px;
    height: 60px;
}

.collection {
    border: 0;
}

.collection .collection-item {
    border-bottom: 0;
}

.collection .collection-item:hover {
    background-color: #E3F2FD;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #2196f3;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #1761B5;
    left: 24px;
}

h5 {
    font-size: 1.1rem;
}

.card-content>p {
    font-size: 0.8em;
}